<main>
    <form action="get">
        <label for="name">Name</label>
        <input type="text" name="name" id="" placeholder="Name">
        <label for="card">Card number</label>
        <input type="text" name="card" id="" placeholder="Library card number">
        <button type="submit">Login</button>
    </form>
</main>